body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  background-color: red;
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 20px 0;
}
.contents{
  display: flex;
  
}
.content{
  background-color: green;
  color: white;
  width: 80%;
  text-align: center;
  padding: 200px 0;
}

.sidebar{
  background-color: blue;
  color: white;
  width: 20%;
  text-align: center;
  padding: 200px 0;
}
.footer{
  background-color: orange;
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 20px 0;
}
